bin/
/build/bin/
/build/windows/installer/
/.go-build-cache*/
data/
*.db
*.db-shm
*.db-wal

web/node_modules/
web/dist/
web/*.tsbuildinfo
web/wailsjs/
web/package.json.md5

.idea/

.env
.env.*
config.yaml
